.basic-toolbar {
  background-color: silver;
  color: #fff;
}

.nav-title {
  font-size: 24px;
  text-decoration: none;
  color: black;

  &:visited {
    color: #fff;
  }
}

.spacer {
  flex: 1 1 auto;
}